body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: rgb(240, 240, 240);
  font-family: "Roboto", "Open Sans", helvetica, sans-serif;
  overflow: hidden;
  user-select: none;
}

#root {
  height: 100vh;
}
